/*################# NAVBAR ###########################*/
.navbar {
  margin-bottom: 0px;
    padding-top: 20px;
    transition: all 0.4s ease;
}

.navbar li a {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  text-shadow: none;
}

.sticky{
  background-color: #FFFFFF;  
  padding-top: 0px;
  box-shadow: 5px 3px 10px #666666; 
}

.sticky li a {
  color: #3498DB;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #F1C40F;
  font-weight: 700;
  text-shadow: none;
}

.sticky > li > a:hover {
  background-color: none;
  color: white;
}

.navbar-toggle {
  background-color: none;
}
.navbar-toggle .icon-bar {
  background-color: #3498DB;
}

.navbar .open .dropdown-toggle{ color: #3498DB;}
.dropdown-menu{ background-color: #eee;}
.navbar-nav>li>.dropdown-menu{ margin-top: -1px; right: -1px;}
.navbar-nav>li>.dropdown-menu li a{ color: #3498DB;}
.navbar-nav>li>.dropdown-menu li a:hover{color: #F1C40F;}
/*################# BASIC LAYOUT ###########################*/

body {
  font: 400 2em/1.5em  'Lato';
  background: transparent;
  overflow-x: hidden; 
}

h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
  font-size: 4em;
}

h2{
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
}

a:hover{ text-decoration: none;}

.btn{
  /*padding: 1vmax 2vmax;*/
  padding: 20px 30px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  /*margin: 1px;*/
  background: transparent;
}

.blue-btn{color: #3071a9; border-color: #3071a9; }
.light-blue-btn{color: #000000; border-color: #5ce6fd;}

.btn:hover, .btn:active, .btn:focus{  
  /*border-width: 2px;
  margin:0px;
  font-weight: bold;*/
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.blue-btn:hover{color: #3071a9; background-color: rgba(248, 228, 44, 0.3); }
.light-blue-btn:hover{color: #000000; background-color: rgba(92, 230, 253, 0.3); }

section .container{position: relative;}
section{ padding: 50px 0px; display: table; width: 100%; }
section h3{text-align: center; margin-top: 0px; }

.section-tag-line{ text-align: center; margin: 5vh 0vh; }

.font-md{
  font-size: 1em;
}

.font-sm{
  font-size: 0.8em;
}
.blue-txt-color{ color: #3498DB; }
.white-txt-color{ color: #fff; }
.pink-txt-color{ color: #FF3366; font-weight: bold;}

.tar{ text-align: right;}
.tac{ text-align: center;}

.yellow-txt-color{ color: #F1C40F; }
.dark-blue-txt-color{ color: #2C3E50; }

.small-blue-hr {
  border-top: 3px solid #2980B9;
  margin: 0vh auto;
  margin-bottom: 20px;
  width: 4vw;
}

.small-yellow-hr {
  border-top: 3px solid #F1C40F;
  margin: 0 auto;
  width: 4vw;
}

.hide{ display: none; }

.top-banner{ text-align: center; color: white;}
.top-banner-msg{padding: 12% 0% 8% 0%;}
.top-banner .container{ display: table; height: 100%; vertical-align: middle;}
.top-banner h1{font-size:4em; margin-bottom: 0px; padding-bottom: 0px;}
.top-banner h3{font-family: 'Montserrat'; margin-top: 15px; padding-top: 0px;}


/*################ WELCOME PAGE ################################*/
section#welcome-page{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  width: 100%;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  position: relative;
  text-align: center;
  padding: 0px;
  overflow: hidden;
  background-image: url(../images/bg_landing2.jpg);
  background-position: top right;
}


section#welcome-page .video-bg video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left:0;
  display: block;
}


section#welcome-page .video-bg{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: 100%;



  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#welcome-page .container{ display: table; height: 630px; vertical-align: middle; }

#logo{
  width: 75px;
  height: 50px;
}

.logo{ background: url(../images/logo.png) no-repeat; }
.blue-logo{ background: url(../images/blue-logo-small.png) no-repeat; background-size: 60px 41px; background-position-y: 5px;}  

#welcomeVideoObject{
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#welcome-tagline{display: table-cell; vertical-align: middle; width: 100%;}
#welcome-tagline .row:first-child{ padding-bottom: 40px;}

/*############################ PROBLEM WE SOLVE ###############################*/
#problem-we-solve{ text-align: center; padding-bottom: 50px; }

#problem-we-solve .row img{ margin-bottom: 10px; }
#problem-we-solve .col-sm-4{padding-left: 5px; padding-right: 5px;}
#problem-we-solve h3{margin-top: 20px;}

.sub-heading{ margin-bottom: 2em; color: #95A5A6;  }

.problem-we-solve-desc > div{height: 562px;}
.problem-block{
  width: 100%;
  display: table;
  position: relative;
}

.problem-heavy-water{
  background: url('../images/sketch/WaterIsHeavy_IMG.jpg') center center no-repeat; background-size: 100% auto;
  height:100%;
}
.problem-time{
  background: url('../images/sketch/TimeIMG.jpg') center center no-repeat; background-size: 100% auto;  
  height:49%; margin-left: 0px;
}
.problem-prevention{
  background: url('../images/sketch/PreventionIMG.jpg') center center no-repeat; background-size: 100% auto; 
  margin: 10px 0px 0px 0px; height:49%; 
}
.problem-life{
  background: url('../images/sketch/WaterLifeIMG.jpg') center center no-repeat; background-size: 100% auto; 
  height:100%;
}

.problem-description{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  padding: 0% 10%;
  display: none;
}

.problem-description-txt{ display: table-cell; vertical-align: middle; }

.divider-droplet{
  background: url('../images/sketch/Droplet_TextDivider.png') center center no-repeat;
  width: 100%;
  height: 28px;
  margin: 20px 0px;
}

.problem-block:hover .problem-description{ display: table;}
.problem-block:hover .problem-icons{ display: none; }

.problem-txt{ line-height: 1.5em; font-size: 0.8em; }
.problem-icons{text-align: center; vertical-align: middle; display: table-cell;width: 100%; color: #fff; }

.icon{ height: 150px; }
.icon-time{background: url('../images/sketch/TimeIsMoney.png') center center no-repeat;}
.icon-water-heavy{background: url('../images/sketch/WaterIsHeavy.png') center center no-repeat;}
.icon-prevention{background: url('../images/sketch/Prevention.png') center center no-repeat;}
.icon-life{background: url('../images/sketch/WaterIsLife.png') center center no-repeat;}

/*############################ WATER WHEEL ###############################*/
#water-wheel{
  background: url(../images/pattern-7scs.png) repeat;
}

.water-wheel-desc{
  margin-top: 5%;
  padding-left: 10%;
  font-size: 2em;
  line-height: 1.4em;
}

.water-wheel-features{ font-size: 20px; margin-bottom: 20px; color: #2980b9;}
.right-blue-border{ border-right: 1px solid #2980b9; padding-right: 10px; margin-right: 10px;}
.water-wheel-img-block{position: relative;}
.water-wheel-img-block img{ width: 90%;}
/*######################### PRESS AND AWARDS ########################*/

#press-and-awards{
  background: #e9eef1;
  width: 100%;
  height: 100px;
  /*display: table;*/
}

#tedx {
  margin-top: 30px;
}

/*############################### IFRAME ###################################*/

iframe {
  width: 50%;
  height: 70%;
}

.scrollable {
    height: 200px;
    overflow-y: auto;
}

iframe#twitter-widget-0{
  height: 300px;
}

/*############################ OUR IMPACT ###############################*/

#our-impact{
  background-color: #3498DB;
  width: 100%;
  color: white;
  padding-bottom: 50px;
}

.icon-desc{
  text-align: center;
  margin-top: 20px;
}

.impact-icon-desc h3{ font-weight: bold;}

/*############################ CAMPAIGN ###############################*/

#campaign{
  background-color: #F1C40F;
  width: 100%;
  color: white;
  padding-bottom: 50px;
  text-align: center;
}
#campaign div{
  display: inline-block;
}


/*############################### OUR STORIES ###################################*/

#our-stories{
  text-align: center;
  padding-bottom: 50px;
}

#our-stories .container {
  width: 80%;
}

#our-stories .col-sm-4{ padding-left: 5px; padding-right: 5px;}

.post{
  overflow: hidden;
  background-color: #3498DB;
  width: 100%;
  position: relative;
}

.small-post{ height: 300px; }
.large-post{ height: 400px; }
.post-date{ padding: 20px 20px 0px; color: #F1C40F; font-size: 12px;}
.post-title{ padding: 10px 20px 20px;}

.post-with-image{
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.post-desc{
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0px;
  padding: 0px;
  width: 100%;
  left: 0px;
  max-height: 0px;
}

.post:hover .post-desc{
  overflow-y: hidden;
  max-height: 350px;
  transition: all 0.5s ease-in;
}

.post-btn{ margin-top: 20px;}
/*################################### BUY AND SUPPORT ##################*/
#buy-and-support{padding: 0px; }
#buy-and-support .row{ display: table; height: 100%; width: 100%; margin: 0px;}

.buy-water-wheel, .support-water-wheel{
  text-align: center;
  display: table-cell;
  float: none;
  color: #FFFFFF;
  vertical-align: middle;
  padding: 50px 0px;
}

.buy-water-wheel{background-color: #2980B9;}
.support-water-wheel{background-color: #3498DB;}
.buy-water-wheel:hover, .support-water-wheel:hover{ color: #FFFFFF; background-color: #2a6496;}

/*################################# FOOTER ############################*/
footer{ padding-top: 25px; background-color: #e9eef1;
  font-size: .8em;}

.footer-sub-heading{
  color: #2980B9;
  margin: 2vh 0px;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 1em;
}

.footer-sub-heading a{color: #2980b9;}

.footer-block{ color: #95A5A6; line-height: 1.5em;}

footer a{ color: #95A5A6; }

footer > .container > .row { position: relative;}

footer hr{ border-color: #2980B9; }

.email-us{
  background: url("../images/icon_mail.png") 0px 5px no-repeat;
  padding-left: 30px;
  margin-top: 5px; 
}

.call-us{
  background: url("../images/icon_phone.png") 0px 5px no-repeat;
  padding-left: 30px;
  margin-top: 10px;
}

.blog-block{
  background: url("../images/icon_chat.png") 0px 5px no-repeat;
  padding-left: 30px;
  margin-top: 10px;
}

.dark-gray-color{
  color: #7F8C8D;
}

.copyright{
  font-size: 10px;
  text-align: center;
  padding: 10px 0px;
}

.powered-by{
  font-size: 10px;
  text-align: right;
  padding: 10px 0px;
}

.social-icons {
  margin-top: 15px;
}

.social-icon-mail {
  background: url(../images/social/icon_mail.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}
.social-icon-mail:hover {
  background: url(../images/social/icon_mail_hover.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}

.social-icon-facebook {
  background: url(../images/social/icon_facebook.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}
.social-icon-facebook:hover {
  background: url(../images/social/icon_facebook_hover.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}

.social-icon-twitter {
  background: url(../images/social/icon_twitter.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}
.social-icon-twitter:hover {
  background: url(../images/social/icon_twitter_hover.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}

.social-icon-vimeo {
  background: url(../images/social/icon_vimeo.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}
.social-icon-vimeo:hover {
  background: url(../images/social/icon_vimeo_hover.png) no-repeat;
  height: 41px; width:41px;
  display: inline-block;
}
#mc_embed_signup{
  max-width: 500px;
  margin: 0 auto;
}
.disclaimer-container{
  background: #7a7f7f!important;
  color: #b5b5b5!important;
  margin-top: 10px; 
  padding: 5px 0px;
  line-height: 20px;
  /*text-align: */
}

/* #################################### Order Now Form ################################*/
.form-group{
  margin-bottom: 30px;
  color: #7F8C8D;
}

.form-group .form-label.required:after { 
  color: #d00;
  content: "*";
}

.radio-inline, .checkbox-inline{ line-height: 20px; margin-right: 10px;}
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline{margin-left: 0px; margin-right: 10px;}

/* ######################### For Widows with maximum of 500px ######################## */

@media (max-width: 500px){  
  #press-and-awards img{width: 60%;}
  .video-bg {
    display:none;
  }
}

/* ######################### For Widows with maximum of 800px ######################## */

@media (max-width: 800px){  
  .video-bg {
    display:none;
  }
  body{font: 400 1.5em  'Lato';}
  section{ padding: 30px 0px; }

  h1, .top-banner h1{font-size: 1.7em; line-height: 1.7em;}
  h2, .top-banner h2{font-size: 1.17em; line-height: 1.17em; }
  h3, .top-banner h3{font-size: 1em; line-height: 1em; }
  h4, .top-banner h4{font-size: 0.8em; line-height: 0.8em; }
  h5, .top-banner h5{font-size: 0.6em; line-height: 0.6em; }

  footer{text-align: center;}
  iframe{width: 100%; height: 90%;}
  
  .container{ width: 100%;}
  .col-sm-12{margin: 30px 0px;}
  #our-stories .col-sm-12, #buy-and-support .col-sm-12{margin: 0px;}
  .buy-water-wheel, .support-water-wheel{display: inline-block;}
  .powered-by{text-align: center;}
  .problem-prevention, .problem-time{ height: 50%; margin: 0px;}
}

/* ######################### For Widows with maximum of 1024px ######################## */

@media (max-width: 1366px){
  .buy-water-wheel, .support-water-wheel{padding: 50px 5vw;}
}

/* ################## For Windows between 768 and 1024 ####################################*/
@media (min-width : 768px) and (max-width : 1024px){
  .problem-heavy-water, .problem-time, .problem-prevention, .problem-life{
    background-size: auto 100%;
  }
  .problem-prevention, .problem-time { height: 49%;}
  .problem-prevention{margin-top: 10px;}
}

/* ##################### #############*/
.margin-0{ margin: 0px; }


