.active{border-color: orange;}
/* ################# ABOUT US PAGE ########################### */

#about-us-welcome-page{ background: url(../images/banner_aboutus.jpg) bottom center no-repeat ; background-size: 100% auto; }

#wello-focus{ background-color: #F1C40F; text-align: center;}

.what-we-do-text{ width: 90%; margin: 0 auto; font-size: 1.5em;}


#structure {
	background-color: #3498DB;
	color: white;
	text-align: center;
}

#team{text-align: center;}
#team h5{margin-bottom: 0px;}

.team-mate-designation, .about-team-mate{ color: #95A5A6;}
.team-mate-designation{padding: 5px 0px;}
.about-team-mate{padding: 10px 0px;}

.team-img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 20px auto;
	display: table;
}

.team-info{
  background: rgba(0,0,0, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.team-hobby{ display: inline-block; font-size: 0.6em; line-height: 1.2em; text-align: center;}
.team-hobby img{margin-bottom: 10px;}
.team-img:hover .team-info{ transform: scale(1); opacity: 1; }

.right-horizontal-hr{border-right: 1px solid #95A5A6; margin-right: 5px; }

.img-cynthia{ background: url('../images/team/img_cynthia.jpg'); background-size: 100% 100%;}
.img-maruti{ background: url('../images/team/img_maruti.jpg'); background-size: 100% 100%;}
.img-cameron{ background: url('../images/team/img_cameron.jpg'); background-size: 100% 100%;}
.img-shradha{ background: url('../images/team/img_shradha.jpg'); background-size: 100% 100%;}

#idea-to-impact{background: #0D0D28; color: #fff; }
.idea-to-impact-desc{margin-top: 15%; font-size: 24px; line-height: 32px;}
.idea-to-impact-desc hr{margin: 10px 0px; }
.idea-to-impact-desc .idea-to-impact-txt{color: #FF3366; text-align: left; margin-top: 5px;}
iframe#our-model{
  width: 90%;
  min-height: 300px;
}
/*############ Contact Us ###################*/

#contact-us-welcome-page{ background: url(../images/banner_contactus.jpg) top center no-repeat ; background-size: 100%; }
#contact-us-details{ background: url(../images/world-map.jpg) bottom; background-size: 100%; color: #95A5A6; }
.contact-us-block{ background: #fff; width: 60%; box-shadow: 2px 5px 5px 2px #ccc; }

.contact-us-tagline{
	padding: 20px 30px;
	font-size: 2.2em;
	line-height: 1.4em;	
}

.contact-us-info{
	background: #e9eef1;
	padding: 10px 0px;
	text-align: center;
	display: table;
	width: 100%;
	font-size: 18px;
	line-height: 1.5em;
}

.contact-us-description{ padding: 20px 30px; }
.facebook-link{ color: #2980B9;  }

/* ################# SUPPORT US PAGE ########################### */

#support-us-welcome-page{ background: url(../images/support_us.jpg) top center ; background-size: 100%; }

.support-us-container{
	width: 70%;
	padding: 50px;
	background: rgba(0,0,0, 0.7);
	min-height: 300px;
	margin: 10% auto;
	border-radius: 10px;
	color: #fff;
	position: relative;
}

.support-us-container-hack{padding-bottom: 120px;}
.support-msg{ margin: 50px auto; }
.support-amt{text-align: left;}

.support-amt-text{
	color: #2980B9;
	font-size: 2.5em;
	line-height: 1.2em;
	text-align: right;
}

.support-btns{padding: 50px 0px; }
.support-us-btn{ background: #2980B9; border: 1px solid #fff; }

#support-us-monthly-options, #support-us-once-options{display: none;}

.paypal-and-credit-card-logo{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
	left: 20px;
}

/* ########################## OUR PRODUCTS #########################################*/
ul.our-products-list{ padding:5px 25px; }

ul.our-products-list li { list-style:none; text-indent: -15px; }

ul.our-products-list li:before {
  color:#3498DB; /* set color to red */
  content:"\2022"; /* /2022 is the numerical unicode for &bull; */
  font-size:1.2em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
  top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}

#our-products-welcome-page{ background: url(../images/banner_ourproducts.jpg) top center no-repeat ; background-size: 100%; }

#water-wheel{
	background: url(../images/products/shadow.png) bottom center no-repeat ; background-size: 90%; 
  text-align: center;
  position: relative;
  z-index: 10;
}

#water-wheel .water-wheel-txt, .rolling-billboard-txt{
	color: #95A5A6;
	padding-bottom: 30px;
	text-align: center;
}

.product-section-head{
	text-align: left;
	font-weight: lighter;
	margin-bottom: 30px;
}

#water-wheel-designed-for{ margin-top: -32px; padding-top: 0px;  }
.wheel-designed-for-desc{margin-top: 32px; padding-top: 50px;}

/*.wheel-designed-for-img{ position: relative; }*/

/*.wheel-designed-for-img img{ position: absolute; top: -73px; left: 0px;}*/

.water-wheel-designed-for-txt, .water-wheel-durable-txt{ color: #95A5A6 }

#product-people-use{
	background: url(../images/products/product-people-use.jpg) top center no-repeat;
	background-size: 100%;
	text-align: left; 
	color: #fff;
}

#water-wheel-beneficial{
  text-align: center;
  color: #fff;
}

.quotes{ color: #3498DB; font-size: 100px; position: absolute;}
.right-quote{right: 0px;}
.water-wheel-beneficial-txt { 
	position: relative; 
	font-size: 2em;
	line-height: 1.5em;
}
.beneficial-txt {
	margin: 100px 50px 0px 50px; 
	text-align: justify;
}
.beneficial-comment-by{margin-top: 20px; }

#distribution-model{ background-color: #3498DB; color: white; text-align: center;}
.distribution-model-description{ margin: 40px 0px; }
#distribution-model img{margin-bottom: 0px;}

#immidiate-impact h2{text-align: left;}
#immidiate-impact .gl-development-block{margin-bottom: 20px;}
.immidiate-impact-desc{color: #95A5A6;}
.immidiate-imapact-icons{ text-align: center; color: #95A5A6;}
.immidiate-imapact-icon-desc{margin-bottom: 20px;}

/* ############################ ORDER NOW PAGE ####################################### */
#order-banner{ background: url(../images/banner_order.jpg) bottom center no-repeat ; background-size: 100% auto; }

/* ######################### For Widows with maximum of 600px ######################## */

@media (max-width: 600px){
	#contact-us-welcome-page{ background-size: auto 100%; }
	#contact-us-details{ background: none;}
	.contact-us-info{
		line-height: 2em;
	}

}

/* ######################### For Widows with maximum of 800px ######################## */

@media (max-width: 800px){
	.team-img{width: 250px; height: 250px;}
	.contact-us-block{ width: 100%;}
	.support-amt, .support-amt-text{text-align: center;}
	.paypal-and-credit-card-logo img{width: 75%;}
	#product-people-use{background-image: none; background-color: #3498DB;}
	#product-people-use ul.our-products-list li:before{color: #fff;}
	#water-wheel-beneficial, #our-products-welcome-page{background-size: auto 100%;}

	#distribution-model .col-md-6, #immidiate-impact .col-md-4, #support-us-once{ margin-bottom: 20px;}
	#immidiate-impact{text-align: center;}
	#immidiate-impact h2{text-align: center;}
}

/* ######################### For Widows with maximum of 1024px ######################## */

@media (max-width: 1024px){
	.support-us-container{width: 80%;}
	.top-banner{ background-size: auto 100%; }
}

/* ######################### For Widows with maximum of 1024px ######################## */

@media (max-width: 1280px){
	#support-us-welcome-page{ background-size: auto 100%; }
}

@media (max-width: 1366px){
	#water-wheel-designed-for{margin-top: -17px;}
}



section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("../images/products/product-beneficial.jpg");
}